#calculator-wrapper
	center
		.calculator
			.header.d-flex.flex-column.justify-content-end style="background: #222; height: 100px; border-top-right-radius: 20px; border-top-left-radius: 20px"
				.d-flex.justify-content-end.pr-2.pl-2
					h1.text-white.noselect#result style="font-size: 4em;"
			.body style="width: 80%; margin-top: 50px"
				.d-flex.justify-content-between
					.number.noselect#1
						h2 1
					.number.noselect#2
						h2 2
					.number.noselect#3
						h2 3
				.d-flex.justify-content-between
					.number.noselect#4
						h2 4
					.number.noselect#5
						h2 5
					.number.noselect#6
						h2 6												
				.d-flex.justify-content-between
					.number.noselect#7
						h2 7
					.number.noselect#8
						h2 8
					.number.noselect#9
						h2 9
				.d-flex.justify-content-center	
					.number.noselect#0
						h2 0
				/.d-flex.justify-content-between
					/.operators	
					.number#soma
						h2 +
					.number#subtracao
						h2 -
					.number#divisao
						h2 d
					.number#multiplicacao
						h2 x
				.d-flex.justify-content-center style="margin-top: 20px"
					.clear.noselect#clear
						h2 Clear
					/.bottom-operators.ml-2 style="width: 90%;"
						h2 e


javascript:
	button_1 = $("#1")
	button_2 = $("#2")
	button_3 = $("#3")
	button_4 = $("#4")
	button_5 = $("#5")
	button_6 = $("#6")
	button_7 = $("#7")
	button_8 = $("#8")
	button_9 = $("#9")
	button_0 = $("#0")
	button_soma = $("#soma")
	button_clear = $("#clear")
	result = $("#result")

	waitingForSecondOperand = true

	button_1.click(function() { result.text( result.text() +  "1" ) })
	button_2.click(function() { result.text( result.text() +  "2" ) })
	button_3.click(function() { result.text( result.text() +  "3" ) })
	button_4.click(function() { result.text( result.text() +  "4" ) })
	button_5.click(function() { result.text( result.text() +  "5" ) })
	button_6.click(function() { result.text( result.text() +  "6" ) })
	button_7.click(function() { result.text( result.text() +  "7" ) })
	button_8.click(function() { result.text( result.text() +  "8" ) })
	button_9.click(function() { result.text( result.text() +  "9" ) })
	button_0.click(function() { result.text( result.text() +  "0" ) })

	button_clear.click(function() { result.text(" ") })
css:
	.calculator {
		width: 50%; 
		background: #abbaab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		box-shadow: 1px 2px 10px 1px #666; 
		border-radius: 20px; 
		height: 800px; 
		overflow: hidden; 
		padding: 5px;	
	}
	.calculator .number{
		width: 90px;
		height: 90px;
		border-radius: 50%;
		background: #abbaab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  		color: #666;
  		/*box-shadow: 1px 2px 10px 1px #ccc;*/
		margin-top: 20px
	}
	.calculator .number:hover{
		background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	}
	.calculator .number h2{
		line-height: 90px;
	}

	.operators {
		margin-top: 20px;
		border-radius: 20px;
		background: #abbaab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
		height: 90px;
	}
	.operator {
		width: 25%;
		text-align: center;
		height: 90px;
	}
	.operator:hover{
		box-shadow: 1px 2px 10px 1px #666;
	}
	.operator h2 {
		color: #666;
		line-height: 90px;
	}
	.bottom-operators {
		background: #abbaab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
 		height: 90px;
 		border-radius:20px;		
	}
	.bottom-operators h2 {
		color: #666;
		line-height: 90px;
	}	

	.clear{
		width: auto;
		height: 90px;
		padding: 0 30px;
		border-radius: 20px;
		background: #abbaab;  /* fallback for old browsers */
		background: -webkit-linear-gradient(to right, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to right, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  		color: #666;
	}
	.clear:hover {
		background: -webkit-linear-gradient(to bottom, #ffffff, #abbaab);  /* Chrome 10-25, Safari 5.1-6 */
		background: linear-gradient(to bottom, #ffffff, #abbaab); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */	
	}
	.clear h2{
		color: #666;
		line-height: 90px;	
	}
	.noselect {
	  	-webkit-touch-callout: none; /* iOS Safari */
	  	-webkit-user-select: none; /* Safari */
	  	-khtml-user-select: none; /* Konqueror HTML */
	  	-moz-user-select: none; /* Old versions of Firefox */
	  	-ms-user-select: none; /* Internet Explorer/Edge */
		user-select: none; /* Non-prefixed version, currently supported by Chrome, Opera and Firefox */
	}