= render "historico"
= render "form"
br
br
= render "charts"
= render "calculator"
-5.times do |i|
	br 


javascript:
	$("#form_wrapper").hide();
	$("#button_cancelar").hide();
	$("#charts").hide();
	//$("#calculator-wrapper").hide();
	$("#transactions_wrapper").hide();

	$("#button_adicionar").click(function(){
		$("#form_wrapper").show(500);
		$("#transactions_wrapper").hide(500);
		$("#button_cancelar").show();
		$("#button_adicionar").hide();
	})
	$("#button_cancelar").click(function(){
		$("#form_wrapper").hide(500);
		$("#transactions_wrapper").show(500);
		$("#button_cancelar").hide();
		$("#button_adicionar").show();
	})
	$("#btn_charts").click(function() {
		$("#transactions_wrapper").hide(500);
		$("#charts").show(500);
	})	
	$( "#calculator" ).dblclick(function() {
		$("#calculator").hide(500);
		$("#transactions_wrapper").show(500);
	});
	$( "body" ).dblclick(function() {
		$("#calculator").show(500);
		$("#transactions_wrapper").hide(500);
		$("#form_wrapper").hide();
		$("#charts").hide();		
	});		
css:
	#form_wrapper input{
		width: 80%;
		border: none;
		border-bottom: 1px solid #ccc;
		margin-top: 5%;
	}		
	.btn {
		border-radius: 15px !important;
	}
	.wrap{
		width: 50%;
		margin-left: 25%;
		padding: 0 10px;
		height: 40px;
		margin-bottom: 2px;
		color: white;
	}